<div class="container m-3 border p-3">
  <form>
    <div class="form-group col-md-5">
        <label for="curso"><h3>Verifique o curso e carga horária</h3></label>
        <select class="form-select" id="curso">
            <option>Angular - 30 horas</option>
            <option>Java - 30 horas</option>
            <option>Javascript - 50 horas</option>
            <option>NodeJS - 30 horas</option>
            <option>Typescript - 20 horas (requisito Javascript)</option>
        </select>
    </div>
  </form>  
</div>


